/api/data
/api/img
/api/json
/api/model
/api/node_modules
/api/tensorflow-master
*.zip
/api/train/node_modules
/api/test/node_modules
/article-scraper/backend/node_modules
/article-scraper/frontend/node_modules
/articles
/preprocess/backend-node/couch
/preprocess/backend-node/final
/preprocess (copy)
/preprocess-ai/node_modules
*.js.map
/scraper
/sheet-json/node_modules
/sheet-json/json