/api/data
/api/img
/api/json
/api/model
/api/node_modules
/api/tensorflow-master
*.zip
/api/train/node_modules
/api/test/node_modules
/preprocess/backend-node/node_modules
/preprocess/backend-node/flipkart/dresses
/preprocess/backend-node/flipkart/kurtas
/preprocess/backend-node/flipkart/kurtis
/preprocess/backend-node/flipkart/leggings & jeggings
/preprocess/backend-node/flipkart/trousers
/preprocess/backend-node/flipkart/women
/preprocess/backend-node/final
/preprocess/frontend-angular2/node_modules
*.js.map